/*對應f-水果*/

/*
* {
    border: solid 1px #000;
}*/

/*麵包屑*/
.breadcrumb {
    margin: 20px;
    max-width: 200px;
    border-bottom: solid 3px #EA994A;
    font-size: 16px;
    align-items: right;


}

.breadcrumb ol {
    display: flex;
    list-style: none;

}

.breadcrumb li, a {
    color: #777;
}

.breadcrumb li {
    padding-left: 5px;
}

.breadcrumb li::before {
    content: "＞";
    height: 20px;
    color: #EA994A;

}

.breadcrumb a {
    text-decoration: none;
}

/*失敗
.breadcrumb li::after {
    height: 16px;
    background-image: url("icon\chevron_right_black_24dp.svg");
    background-repeat: no-repeat;
    vertical-align: middle;
}
*/

/*水果導覽列表*/
.label {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /*justify-content:center->左右置中*/
}

.label a {
    text-decoration: none;
}

.season_btn {
    text-align: center;
    color: #fff;
    background-color: #EA994A;
    width: 540px;
    height: 90px;
    border-radius: 20px;
    line-height: 100px;
    font-size: 30px;
    margin: 20px;
}

.season_btn:hover {
    background-color: #F4C74D;
    color: #FFF;
    /*border: solid 1px ;*/
    transition: 0.3s;
}

/*水果種類區塊*/
.item {
    display: flex;
    max-width: 1660px;
    margin: 20px 0px;
}

.item img {
    margin: 0 0 0 20px;
    max-width: 570px;
    max-height: 500px;
    width: 285px;
    height: 250px;
    border-radius: 20px;
    align-items: center;
}

.item .fruit_article {
    margin: 0 0 0 20px;
    padding: 20px;
    width: 980px;
    max-height: 500px;
    border: solid 1px #D26E23;
    border-radius: 20px;
}

.fruit_article h3 {
    color: #EA994A;
    margin: 5px 0;
}

.fruit_article p {
    color: #AD5A16;
    margin: 10px 0;
}