.label {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /*justify-content:center->左右置中*/
}

.label a {
    text-decoration: none;
}

.season_btn {
    text-align: center;
    color: #fff;
    background-color: #EA994A;
    width: 540px;
    height: 90px;
    border-radius: 20px;
    line-height: 100px;
    font-size: 30px;
    margin: 20px;
}

.season_btn:hover {
    background-color: #F4C74D;
    color: #FFF;
    /*border: solid 1px ;*/
    transition: 0.3s;
}

.item {
    display: flex;
    max-width: 1660px;
    margin: 20px 0px;
}

.item img {
    margin: 0 0 0 20px;
    max-width: 570px;
    max-height: 500px;
    width: 285px;
    height: 250px;
    border-radius: 20px;
    align-items: center;
}

.item .fruit_article {
    margin: 0 0 0 20px;
    padding: 20px;
    width: 980px;
    max-height: 500px;
    border: solid 1px #D26E23;
    border-radius: 20px;
}

h3 {
    color: #EA994A;
    margin: 5px 0;
}

p {
    color: #AD5A16;
    margin: 10px 0;
}