@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
.label {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /*justify-content:center->左右置中*/
}

.season_btn {
    text-align: center;
    color: #fff;
    background-color: #EA994A;
    width: 540px;
    height: 90px;
    border-radius: 20px;
    line-height: 100px;
    font-size: 30px;
    margin: 20px;
}

.season_switch {
    clear: both;
    position: relative;
    display: flex;
    max-width: 1660px;
    max-height: 360px;
    /*text-justify: auto;*/
    /*不換行*/
    list-style: none;
    /* 移除項目符號 */
    margin: 20px 0px;
    padding: 0px 0px;
    text-align: center;
    align-items: center;
    font-size: 20px;
    justify-content: flex-start;
    overflow: hidden;
}

.season_switch_spring {
    display: flex;
    background-color: #e7e9b9;
    color: #EA994A;
    width: 360px;
    height: 360px;
    line-height: 180px;
    background-position: right bottom;
    background-repeat: no-repeat;
    margin: 0 5px 0 0;
    border-radius: 20px;
}

.season_switch_spring img {
    width: auto;
}

.season_switch_summer {
    background-color: #e7e995;
    color: #EA994A;
    width: 360px;
    height: 360px;
    margin: 0 5px 0 0;
    border-radius: 20px;
}

.season_switch_fall {
    background-color: #e7e9b9;
    color: #EA994A;
    width: 360px;
    height: 360px;
    margin: 0 5px 0 0;
    border-radius: 20px;
}

.season_switch_winter {
    background-color: #e7e9b9;
    color: #EA994A;
    width: 360px;
    height: 360px;
    border-radius: 20px;
}


/*--------水果一覽-----------*/

.fruit4 {
    max-width: 1660px;
    max-height: 870px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: antiquewhite;
    border-radius: 20px;
}

.season_box {
    max-width: 790px;
    display: flex;
    overflow: hidden;
    float: left;
    position: relative;
    align-items: center;
    margin: 25px 36px;
}

.season_box a {
    position: relative;
    align-items: center;
}

.season_box img {
    max-width: 790px;
    max-height: 400px;
    width: 100%;
    height: 80%;
    border-radius: 20px;
}

.season_box .middle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: #EA994A;*/
    color: #ffffffff;
    padding: 10px 40px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    border-radius: 10px;
}

.season_box:hover a {
    box-shadow: 0 0 8px 4px var(--mimi);
}

.season_box:hover img {
    opacity: 0.7;
    filter: blur(3px);
    /*設定圖片模糊*/
}

.season_box:hover .middle {
    opacity: 1;
    transition: 0.3s linear;
}